<h3>Chat <%= params['guest_id'] %></h3>

<ul id="ulMessages">
<% previous_messages.each do |m| %>
  <li><%= m['user_id'] + '<br>' + m['moment'] + ' <br> ' + m['content'] %></li>
<% end %>
</ul>

<div class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="txtMessage">
    <input type="hidden" class="form-control" id="txtUser" value="<%= session[:user_id] %>">
    <input type="hidden" class="form-control" id="txtGuest" value="<%= params['guest_id'] %>">
  </div>
  <button class="btn btn-default btn-primary" id="btnSend">
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    Send
  </button>
</div>
